body{
    margin:0px;
    text-align:center;
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: lavender;



}


h1 {
   color: #66BFBF;
   margin:20px auto 0 auto;
   font-family: 'Indie Flower', cursive;


}

h2 {
   color: #66BFBF;
   font-family: 'Merriweather', serif;
   font-size: 2.5rem;
}

h3 {
   color: #11999E;
   font-family: 'Merriweather', serif;
}

a {
  color: #11999E;
}

hr {
    border-top: dotted #11999E;
    width:2%
}

.developer {
         font-weight: normal;
         padding-bottom: 50px;
}

.top {
    background-color:lavender;
    position:relative;
    padding-top: 100px
    }

.middle {


}

.bottom {
      background-color: #fcfefe;
      padding-bottom: 20px;
      padding-top: 20px;
      margin-top: 20px;


}


.top-cloud {
              position: absolute;
              right:450px;
              top:50px;

}

.bottom-cloud {
              position: absolute;
              top:150px;
              left:450px

}

.skill-row {
           width: 50%;
           margin: 100px auto;
           text-align: left;


}

.space {
        width:25%;
        float: left;
        margin-right: 20px;
}

.focus {
       width: 25%;
       float: right;
       margin-left: 20px;
}


.me {
    width:15%;
}

.challenge {
      padding-bottom: 50px;
}

.footer-link {
        text-decoration:none;

}

.footer-link:hover {
        color:#66BFBF;
        font-weight: bold;

}

.contact {
     text-decoration:none;
     padding-bottom: 50px;
     font-size: 2rem;
}


.contact:hover {
        color:#66BFBF;
        font-weight: bold;

}